body {
  background-color: #d9fad9;
}

.user-item {
  height: 30px;
}

.user-name {
  width: 50px;
  display: inline-block;
  font-size: 24px;
  margin-right: 20px;
}

.btn-style {
  margin-right: 10px;
  background-color: rgb(140, 210, 212);
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn-style:hover,
.btn-style:focus {
  background-color: rgb(178, 244, 250);
}

input {
  display: block;
}

.hidden { 
  display: none;
} 

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content > p {
  margin: 0px 0px 15px 0px;
}

.modal-content {
  background-color: #fefefe;
  padding: 15px;
  margin: 2% 22%;
  border: 2px solid rgb(121, 118, 118);
  width: 200px;
  height: 100px; 
}

.btn-modal-style {
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
}

.confirm {
  background-color: rgb(44, 172, 32);
  margin-right: 15px;
}

.confirm:hover,
.confirm:focus,
.cancel:hover,
.cancel:focus {
  color: black;
  padding: 6px;
}

.cancel {
  background-color: rgb(42, 146, 243);
}

.form-item {
  margin-bottom: 5px;
}

.form-text {
  font-family: monospace;
  color: rgb(68, 64, 64);
}

.btn-save {
  color: #fefefe;
  padding: 4px 6px;
  border: none;
  border-radius: 4px;
  background-color: rgb(44, 172, 32);
  cursor: pointer;
}

.btn-save:hover,
.btn-save:focus {
  background-color: rgb(50, 116, 45);
}